.bg-primary{
 background: #3292a6 !important;
}
.btn-primary{
 background: #3292a6 !important;
}
.text-primary{
 color: #3292a6 !important;
}
.border-primary{
 border: 1px solid #3292a6 !important;
}
nav.navbar{
 background: #fff;
 opacity: .7;
 box-shadow: 3px 3px 5px #3292a6;
}

nav.navbar ul li{
 white-space: nowrap;
}
.navbar-expand-lg .navbar-nav .nav-link {
 padding: 1rem 1.5rem;
 font-size: 1.4rem;
 color: #000;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
 color: #3292a6;
}
#home{
 background: url("img/bg.jpg") scroll #333 no-repeat center center / cover;
}
#home img{
 width: 100%;
}
.hero-overlay{
 background: rgba(50, 146, 156, 0.7);
 margin-top: 5rem;
}
#authors a{
 color: #3292a6;
 font-size: 26px;
}
#authors img{
 margin-top: -30%;
 margin-bottom: 20px;
}
.authors-row{
 margin-top: 30px;
}
.authors-row .card{
 margin: 60px 0;
 transition: .3s;
}
.authors-row .card:hover{
 background: #3292a6;
 color: #fff;
}
.authors-row .card:hover i.fa{
 color: #fff !important;
}